params {

    // Input options
    input                         = ""
    include_samples_file          = ""
    exclude_samples_file          = ""

    outdir                       = "./results/"

    // Regex Patterns
    clinical_access_sample_regex_pattern       = ".*-XS.*-standard.*"
    clinical_impact_sample_regex_pattern       = ".*(-IM|-IH).*"

    fasta_ref = "/juno/work/access/production/resources/reference/current/Homo_sapiens_assembly19.fasta"
 
    base_dirs = [
        research_access : [
            data_dir: "",
            bam_dir: ""
        ],
        clinical_access : [
            bam_dir : "",
            variant_dir : "",
        ],
        clinical_impact : [
            bam_dir : "",
            variant_dir : ""
        ]
    ]

    file_paths = [
        research_access : [
            bam_file : [
                simplex  : "",
                duplex   : "",
                unfilter : "",
                standard : ""
            ],
            variant_file : [
                mutations : "",
                cna       : "",
                sv        : "",
                msi       : ""
            ]
        ],
        clinical_access : [
            key_file : "",
            bam_file : [
                simplex  : "",
                duplex   : "",
                unfilter : "",
                standard : ""
            ],
            variant_file : [
                mutations : "",
                cna       : "",
                sv        : "",
                msi       : ""
            ]
        ],
        clinical_impact : [
            key_file : "",
            bam_file : [
                standard : ""
            ],
            variant_file : [
                mutations : "",
                cna       : "",
                sv        : "",
                msi       : "",
                facets    : "",
            ]     
        ]
    ]    
    
}