executor {
    name = "lsf"
    // max number of concurrent tasks
    queueSize = 50
}

process {
    scratch=false
    withLabel: genotype_variants {
        cpus = 8
        memory = '8 GB'
    }
    withLabel: biometrics_extract {
        cpus = 8
        memory = '8 GB'
    }
}

singularity {
    runOptions = '--bind /juno/:/juno/'
}

params {
    // Gene lists
    access_copy_number_gene_list_v1 = "AR,BRCA1,BRCA2,CDK4,EGFR,ERBB2,MET,MDM2,MLH1,MSH2,MSH6,MYC"
    access_copy_number_gene_list_v2 = "ALK,APC,AR,ARID1A,ASXL1,ATM,BAP1,BRCA1,BRCA2,CDH1,CDK12,CDK4,CHEK2,DNMT3A,EGFR,ERBB2,ERBB3,ERCC2,FBXW7,FGFR2,FGFR3,KDM6A,KIT,MAP2K1,MAP2K2,MDM2,MET,MLH1,MSH2,MSH6,MTOR,MYC,MYCN,NF1,PALB2,PDGFRA,PIK3CA,PMS2,PTCH1,RB1,RET,SMAD4,TP53,TSC1,TSC2"

    access_structural_variant_gene_list = "ALK,BRAF,ERBB2,EGFR,FGFR1,FGFR2,FGFR3,KIT,MET,NTRK1,NTRK2,NTRK3,PDGFRA,RET,ROS1"

    // Reference / resources
    fasta_ref = "/juno/work/access/production/resources/reference/current/Homo_sapiens_assembly19.fasta"
    biometrics = [
        bed : "/juno/cmo/access/production/resources/msk-access/v1.0/regions_of_interest/versions/v1.0/MSK-ACCESS-v1_0-probe-B.sorted_chrY.bed",
        vcf : "/juno/cmo/access/production/resources/msk-access/v1.0/regions_of_interest/versions/v1.0/MSK-ACCESS-v1_0-TilingaAndFpSNPs.vcf"
    ]
    hotspot_list = "/juno/work/access/production/resources/msk-access/v2.0/regions_of_interest/versions/v1.0/hotspot-list-union-v1-v2_with_TERT.txt"
    ch_list = "/juno/work/access/production/resources/dmp_signedout_CH/current/signedout_CH.txt"

    base_dirs = [
        clinical_impact : [
            facets_dir: "/juno/work/ccs/shared/resources/impact/facets/all/"
        ]
    ]

    // Cohort-level DMP resource files (not per-sample; still supplied by config)
    file_paths = [
        clinical_access : [
            variant_file : [
                msi : "/juno/work/access/production/resources/dmp_msi_admie_scores/current/all_admie_results_from_database.csv"
            ]
        ],
        clinical_impact : [
            variant_file : [
                mutations : "/juno/work/access/production/resources/cbioportal/current/msk_solid_heme/data_mutations_extended.txt",
                cna       : "/juno/work/access/production/resources/cbioportal/current/msk_solid_heme/data_CNA.txt",
                sv        : "/juno/work/access/production/resources/cbioportal/current/msk_solid_heme/data_sv.txt",
                msi       : "/juno/work/access/production/resources/cbioportal/current/msk_solid_heme/data_clinical_sample.txt"
            ]
        ]
    ]
}
