executor {
    name = "lsf"
    // max number of concurrent tasks
    queueSize = 50
}

process {
    scratch=false
    withLabel: genotype_variants {
        cpus = 8
        memory = '8 GB'
    }
    withLabel: biometrics_extract {
        cpus = 8
        memory = '8 GB'
    }
}

params {
    // Regex Patterns
    clinical_access_sample_regex_pattern       = ".*-XS.*-standard.*"
    clinical_impact_sample_regex_pattern       = ".*(-IM|-IH).*"
    fasta_ref = "/juno/work/access/production/resources/reference/current/Homo_sapiens_assembly19.fasta"
    biometrics = [
        bed : "/juno/cmo/access/production/resources/msk-access/v1.0/regions_of_interest/versions/v1.0/MSK-ACCESS-v1_0-probe-B.sorted_chrY.bed",
        vcf : "/juno/cmo/access/production/resources/msk-access/v1.0/regions_of_interest/versions/v1.0/MSK-ACCESS-v1_0-TilingaAndFpSNPs.vcf"
    ]
    base_dirs = [
        research_access : [
            data_dir: "/juno/work/access/production/data",
            bam_dir_template: "/juno/work/access/production/data/bams/{cmo_patient_id}/{sample_id}/current"
        ],
        clinical_access : [
            bam_dir_template : "/juno/dmp/share/access_12_245/{anon_id_fl}/{anon_id_sl}",
            variant_dir : "/juno/work/access/production/resources/cbioportal/current/msk_solid_heme",
        ],
        clinical_impact : [
            bam_dir_template : "/juno/dmp/share/irb12_245/{anon_id_fl}/{anon_id_sl}",
            variant_dir : "/juno/work/access/production/resources/cbioportal/current/msk_solid_heme",
            facets_dir: "/juno/work/ccs/shared/resources/impact/facets/all/"
        ]
    ]
    // File paths
    hotspot_list = "/juno/cmo/access/production/resources/msk-access/v1.0/regions_of_interest/versions/v1.0/hotspot-list-union-v1-v2_with_TERT.txt"
    ch_list = "/juno/work/access/production/resources/dmp_signedout_CH/current/signedout_CH.txt"
    
    file_paths = [
        research_access : [
            bam_file_template : [
                simplex  : "${params.base_dirs.research_access.bam_dir_template}/{sample_id}_cl_aln_srt_MD_IR_FX_BR__aln_srt_IR_FX-simplex.bam",
                duplex   : "${params.base_dirs.research_access.bam_dir_template}/{sample_id}_cl_aln_srt_MD_IR_FX_BR__aln_srt_IR_FX-duplex.bam",
                unfilter : "${params.base_dirs.research_access.bam_dir_template}/{sample_id}_cl_aln_srt_MD_IR_FX_BR__aln_srt_IR_FX.bam",
                standard : "${params.base_dirs.research_access.bam_dir_template}/{sample_id}_cl_aln_srt_MD_IR_FX_BR.bam"
            ],
            variant_file_template : [
                mutations : "${params.base_dirs.research_access.data_dir}/small_variants/{cmo_patient_id}/{sample_id}/current/{sample_id}.${params.donor_normal}.combined-variants.vep_keptrmv_taggedHotspots_fillout_filtered.maf",
                cna       : "${params.base_dirs.research_access.data_dir}/copy_number_variants/{cmo_patient_id}/{sample_id}/current/{sample_id}_copynumber_segclusp.genes.txt",
                sv        : "${params.base_dirs.research_access.data_dir}/structural_variants/{cmo_patient_id}/{sample_id}/current/{sample_id}_AllAnnotatedSVs.txt",
                msi       : "${params.base_dirs.research_access.data_dir}/microsatellite_instability/{cmo_patient_id}/{sample_id}/current/msi_results.txt"
            ]
        ],
        clinical_access : [
            key_file : "/juno/dmp/request/ACCESS-12-245/key.txt",
            bam_file_template : [
                simplex  : "${params.base_dirs.clinical_access.bam_dir_template}/{anon_id}-simplex.bam",
                duplex   : "${params.base_dirs.clinical_access.bam_dir_template}/{anon_id}-duplex.bam",
                unfilter : "${params.base_dirs.clinical_access.bam_dir_template}/{anon_id}-unfilter.bam",
                standard : "${params.base_dirs.clinical_access.bam_dir_template}/{anon_id}-standard.bam"
            ],
            variant_file : [
                mutations : "${params.base_dirs.clinical_access.variant_dir}/data_mutations_extended.txt",
                cna       : "${params.base_dirs.clinical_access.variant_dir}/data_CNA.txt",
                sv        : "${params.base_dirs.clinical_access.variant_dir}/data_sv.txt",
                msi       : "/juno/work/access/production/resources/dmp_msi_admie_scores/current/all_admie_results_from_database.csv"
            ]
        ],
        clinical_impact : [
            key_file : "/juno/dmp/request/12-245/key.txt",
            bam_file_template : [
                standard : "${params.base_dirs.clinical_impact.bam_dir_template}/{anon_id}.bam"
            ],
            variant_file : [
                mutations : "${params.base_dirs.clinical_impact.variant_dir}/data_mutations_extended.txt",
                cna       : "${params.base_dirs.clinical_impact.variant_dir}/data_CNA.txt",
                sv        : "${params.base_dirs.clinical_impact.variant_dir}/data_sv.txt",
                msi       : "${params.base_dirs.clinical_impact.variant_dir}/data_clinical_sample.txt"
            ]     
        ]
    ]    
}