params {

    // Input options
    input                         = "/juno/cmo/bergerlab/guturus1/mskcc-omics-workflows/access_data_analysis_nf_old/assets/inputs/id_mappings_subset.csv"
    // id_mapping_file            = "/juno/cmo/bergerlab/guturus1/mskcc-omics-workflows/access_data_analysis_nf_old/assets/inputs/id_mappings_subset.csv"
    include_samples_file          = "/juno/cmo/bergerlab/guturus1/mskcc-omics-workflows/access_data_analysis_nf_old/assets/inputs/include.csv"
    exclude_samples_file          = "/juno/cmo/bergerlab/guturus1/mskcc-omics-workflows/access_data_analysis_nf_old/assets/inputs/exclude.csv"

    // Key Paths
    dmp_access_key_path              = "/juno/dmp/request/ACCESS-12-245/key.txt"
    dmp_impact_key_path              = "/juno/dmp/request/12-245/key.txt"
    research_access_dir_template     = "/juno/work/access/production/data/bams/{cmo_patient_id}/"

    // Regex Patterns
    access_sample_regex_pattern       = ".*-XS.*-standard.*"
    impact_sample_regex_pattern       = ".*(-IM|-IH).*"

}